input, button {
    border: none;
    outline: none;
}

.nabla-uniquifier {
    font-family: "Nabla", system-ui;
    font-size: 60px;

    color: black;

    font-palette: dark;
}

html,body{
    background-color: rgb(203, 216, 255);
    margin: 0;
    padding: 0;
    height: 100%;
}

.frase{
    margin-top: 0px;
    font-size: 16px;
    text-align: center;
    color: rgb(171, 171, 171);
    font-family: 'Arial', sans-serif;
}

.container{
    display: flex;
    height: 100vh
}


.left{
    width: 40%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.right{
    width: 60%;
    background-color: rgb(203, 216, 255);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 70vh;
}
.img{
    margin-top: 260px;
    width: 820px;
    height: 640px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));

    -webkit-mask-image: linear-gradient(
    to bottom,
    black 65%,
    transparent 100%
    );

    mask-image: linear-gradient(
        to bottom,
        black 85%,
        transparent 100%
    );
}

.logo{
    font-family: "Nabla", system-ui;
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    filter: grayscale(100%) brightness(0%);
}


.forms{
    width: 350px;
    height: 360px;
    padding: 45px;


    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;

    border-radius: 12px;

    margin-left: 0px;

}

.buttonForm{
    background-color: royalblue;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 150px;
    height: 45px;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
    text-align: center;
    align-items: left;
    font-size: medium;
    margin-left: 100px;
}
.caixaform{
    height: 35px;
    font-size: 14px;
    border-radius: 5px;
    background-color: rgb(207, 206, 206);
}

label{
    font-family: 'Arial', sans-serif;
    color: rgb(84, 84, 84);
    font-size: 14px;
}
.atalho{
    text-decoration: none;
    color: rgb(171, 171, 171);
    margin-top: 10px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.atalho:visited{
    color: rgb(171, 171, 171)
}

.atalho:hover{
    color: rgb(84, 84, 84);
}

.erro{
    color: red;
    font-size: 18px;
    margin: 0px;
    font-family: 'Arial', sans-serif;
}

.erro-container{
    height: 10px;
}
