<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nabla&display=swap" rel="stylesheet">

    <title>Login</title>
</head>
<body>
    


<div class="container">

    <div class="left">

        <h1 class="logo">TASKCRAFT</h1>    
            
            <h2 class="frase">Bem-vindo de volta! O que vamos realizar hoje?</h2>

            <div class="erro-container">
                        {% if erro %}
                            <p class="erro">{{ erro }}</p>
                        {% endif %}
                    </div>

                <form class="forms" action="" method="post">

                    <label for="email">Email:</label>
                    <input class="caixaform"type="email" id="email" name="emailForm" required><br>

                    <label for="senha">Senha:</label>
                    <input class="caixaform"type="password" id="senha" name="senhaForm" required><br>
                    
                    <input class="buttonForm" type="submit" value="Entrar">
                    <a href="{{ url_for('cadastro.cadastro') }}" class="atalho">Não tem uma conta? Cadastre-se aqui.</a>
                      
                </form>
        </div>

        <div class="right">
            <img class="img" src="{{ url_for('static', filename='imgLogin.png')}}" alt="">
        </div>

    </div>
</body>
</html>